{% extends "base/base.html" %}

{% block content %}

<section class="py-5" style="margin-bottom: 277px;">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" src="../static/group/NicolasOyarce.jpeg" alt="" />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">Nicolas Oyarce</h5>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" height="268px" width="268" src="../static/group/YohanMoreno.jpeg" alt="" />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">Yohan Moreno</h5>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>

{% endblock content %}
