{% extends "base/base.html" %}

{% block content %}

<section class="h-100" style="background-color: #eee;margin-top: 40px;">
  <div class="container h-100 py-5">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-10">

        <div class="d-flex justify-content-between align-items-center mb-4">
          <h3 class="fw-normal mb-0 text-black">Carrito de compras</h3>
          <form action="{% url 'shopping_cart_clear' %}" class="card-">
            <button type="submit" class="btn btn-info btn-block btn-lg text-white" style="text-align: right;"><a href="{% url 'shopping_cart_clear' %}" style="text-decoration: none;">Limpiar carrito</a></button>
          </form>
        </div>

        {% if request.session.cart.items %}
        
          {% for key, value in request.session.cart.items %}
          
            <div class="card rounded-3 mb-4">
              <div class="card-body p-4">
                <div class="row d-flex justify-content-between align-items-center">
                  <div class="col-md-2 col-lg-2 col-xl-2">
                    <img src="{{ value.image }}" class="img-fluid rounded-3" alt="{{value.model}}">
                  </div>
                  <div class="col-md-3 col-lg-3 col-xl-3">
                    <p class="lead fw-normal mb-2">{{value.brand}} {{value.model}}</p>
                    <p><span class="text-muted">Stock: </span>{{value.stock}}</p>
                    <p><span class="text-muted">Precio: </span></p>
                  </div>
                  <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                
                    <button class="btn btn-link px-2"
                      onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                      <a href="{% url 'shopping_cart_decrement' value.car_id %}" class="btn btn-sm"><i class="fas fa-minus"></i></a>
                    </button>

                    <input id="form1" min="1" name="quantity" value="{{value.quantity}}" 
                      class="form-control form-control-sm text-center" />

                    <button class="btn btn-link px-2"
                      onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                      <a href="{% url 'shopping_cart_add' value.car_id %}" class="btn btn-sm"><i class="fas fa-plus"></a></i></a>
                    </button>

                  </div>
                  <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                    <h5 class="mb-0">${{value.price}}</h5>
                    <h6>{{ value.count }}</h6>
                  </div>
                  <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                    <a href="{% url 'shopping_cart_remove' value.car_id %}" class="text-danger"><i class="fas fa-trash fa-lg"></i></a>
                  </div>
                </div>
              </div>
            </div>

          {% endfor %}

        {% else %}
          <div class="alert alert-danger text-center">
            <h2>Sin Productos</h2>
          </div>
        {% endif %}
          
        <div style="text-align: right;">
          <h4>Total:</h4>
          <h1>${{total_cart_value}}</h1>
        </div>

        {% if user.is_authenticated and request.session.cart.items %}
              <div class="card">
                <div class="card-">
                  <a href="{% url 'shopping_cart_clear' %}" class="btn btn-warning btn-block btn-lg">Proceder al Pago</a>
                </div>
              </div>
        {% endif %}

        <div class="row mt-4 d-flex align-items-center">
            <div class="col-sm-6 mb-3 mb-m-1 order-md-1 text-md-left">
                <a href="{% url 'process_sale' %}">
                    <i class="fas fa-arrow-left mr-2"></i> Continuar Comprando</a>
            </div>
        </div>

      </div>
    </div>
  </div>
</section>

{% endblock content %}